.sliderContainer {
  position: relative;
  width: 100%;
  background-color: #cf3a34;
  overflow: hidden;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.imageContainer {
  flex: 1;
  height: 100%;
  position: relative;
  
}

.topicImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 15px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navButton {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 32px;
  color: white;
  z-index: 10;
  cursor: pointer;
}

.navButton:first-of-type {
  left: -55px;
}

.navButton:last-of-type {
  right: -55px;
}
